* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}


body {



    background-color: rgb(209, 209, 234);
}

.heading {
   
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}



.card {

    width: 23%;
    box-shadow: 0 0 4px 3px orange;
    text-align: center;
    margin-bottom: 2em;
    border-radius: 15px;
}


.title {
    font-size: 1.3rem;

}


#th{
    display: flex;
}

#varukorgen{
    display: flex;
    position: absolute;
    right: 4%;
}


#cart{
    display: flex;
    position: absolute;
    right: 5%;
    top: 5%;
}

#baskettext{
    display: flex;
    position: relative;
    font-size: 60%;
}

fieldset{
    width: fit-content;
}

#checkoutlink{
    display: flex;
    position: absolute;
    right: 20%;
    top: 5%;
}

#shoppingimg{
    display: flex;
    position: absolute;
    right: 2.2%;
    top: 11%;
    width: 4%;
}
#shoppingimgI{
    display: flex;
    position: absolute;
    right: 2.2%;
    top: 8%;
    width: 4%;
}

p {
    word-wrap: break-word;
     max-width: 40ch;
   }
@media screen and (max-width: 800px) {
   
    #shoppingimg{
        display: flex;
        position: relative;
        left: 91%;
        top: 2.6rem;
        width: 9%;
    }
    #shoppingimgI{
        display: flex;
        position: relative;
        left: 91%;
        top: 1.5rem;
        width: 9%;
    }
    
    #checkoutlink{
        display: flex;
        position: absolute;
        right: 50%;
        top: 5%;
    }
    
    #baskettext{
        display: flex;
        position: relative;
        font-size: 60%;
    }

   p {
    word-wrap: break-word;
     max-width: 19ch;
   }
  }